@import "tailwindcss";

:root {
  --color-primary: #0B2E63;
  --color-primary-dark: #081F45;
  --color-accent-gray: #6B7280;
  --color-light-bg: #F5F7FA;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light-bg);
  font-family: Inter, sans-serif;
  color: #111827;
}